<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDispatcherDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletOne</display-name>
    <servlet-name>ServletOne</servlet-name>
    <servlet-class>com.acc.lkm.servletdispatcher.ServletOne</servlet-class>
    <init-param>
    <param-name>Eid</param-name>
    <param-value>john.a.willings</param-value>
    </init-param>
    <init-param>
    <param-name>Company</param-name>
    <param-value>Accenture</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne</servlet-name>
    <url-pattern>/ServletOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTwo</display-name>
    <servlet-name>ServletTwo</servlet-name>
    <servlet-class>com.acc.lkm.servletdispatcher.ServletTwo</servlet-class>
    <init-param>
    <param-name>Project</param-name>
    <param-value>Astellas</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTwo</servlet-name>
    <url-pattern>/ServletTwo</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>Location</param-name>
  <param-value>KDC-1D</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ServletThree</display-name>
    <servlet-name>ServletThree</servlet-name>
    <servlet-class>com.acc.lkm.servletdispatcher.ServletThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletThree</servlet-name>
    <url-pattern>/ServletThree</url-pattern>
  </servlet-mapping>
</web-app>